@model tCustomer
@{
    ViewBag.Title = "dataBindingDemo";
}

<h2>客戶個人資訊</h2>
<li>編號:@Model.fId</li>
<li>姓名:@Model.fName</li>
<li>電話:@Model.fPhone</li>
<li>郵件:@Model.fEmail</li>
<li>地址:@Model.fAddress</li>
