
@{
    ViewBag.Title = "queryByName";
    string s = ViewBag.Name;
    s += ".jpg";
}

<h2>查詢結果</h2>

<img src="~/Content/@s" />
<p>
    姓名:@ViewBag.Name
    <br/>
    @ViewBag.Phone / @ViewBag.Email
</p>
