<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="dbASP_demoConnectionString" connectionString="Data Source=.;Initial Catalog=dbASP_demo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="dbASP_demo2" connectionString="Data Source=.;Initial Catalog=dbASP_demo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="dbASP_demo_2" connectionString="Data Source=.;Initial Catalog=dbASP_demo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="dbASP_demoConnectionString2" connectionString="Data Source=.;Initial Catalog=dbASP_demo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="dbASP_demoConnectionString3" connectionString="Data Source=.;Initial Catalog=dbASP_demo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="dbASP_demoMsgTable" connectionString="Data Source=.;Initial Catalog=dbASP_demo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="dbASP_NEWs" connectionString="Data Source=.;Initial Catalog=dbASP_demo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="dbASP_NEWss" connectionString="Data Source=.;Initial Catalog=dbASP_demo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
