
@{
    ViewBag.Title = "New";
}

<h2>註冊</h2>
<form method="post" action="~/A/New">
    <p>帳號
        <input type="text" name="u_name" />
    </p>
    <p>密碼
        
        <input type="text" name="u_password" />
    </p>
    <p>
        郵件  
        <input type="text" name="u_email" />
    </p>
    <p>
        生日
        <input type="text" name="u_birth" />
    </p>
    <p>
        <input type="submit" value="送出" />
    </p>
</form>

